.App {
  text-align: center;
}

h2 {
  color: #145c8d;
  text-align: left;
  font-size: 32px;
}

h3 {
  color: #145c8d;
  text-align: left;
  font-size: 26px;
  margin-bottom: 32px;
}

.container {
  width: 75%;
  margin: 60px auto 84px auto;
}

section {
  margin-bottom: 72px;
}

section.no-bottom-margin {
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: #000;
}

.signup-button {
  /* color: navy;
  text-decoration: underline; */

  width: 50%;
  margin: 0 auto;
  background-color: pink;
  font-size: 20px;
  min-height: 50px;
  border: 3px solid #145c8d;
  border-radius: 8px;
  padding: 5px;
  line-height: 1.75;
  cursor: pointer;
  letter-spacing: 1px;
  transition: all 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  position: sticky;
  top: 10px;
}

.signup-notice {
  padding: 0;
  margin: 0;
  line-height: 2;
  font-size: 16px;
}

.signup-button img {
  vertical-align: top;
  margin-right: 5px;
}

.signup-button:hover {
  background-color: hotpink;
}

.lecture-intro {
  margin-bottom: 48px;
}

.speakers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}
.mobile-only {
  display: none;
}

.desktop-only {
  display: block;
}

@media screen and (max-width: 425px) {
  .container {
    width: auto;
    margin: 36px 24px;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 20px;
    margin-bottom: 36px;
  }

  section {
    margin-bottom: 36px;
  }

  .signup-button {
    width: 90%;
    font-size: 16px;
    text-align: justify;
    line-height: 1.75;
  }

  .lecture-intro {
    margin-bottom: 24px;
  }

  .speakers {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .mobile-only {
    display: block;
  }

  .desktop-only {
    display: none;
  }
}
