.App {
  text-align: center;
}

h2 {
  color: #145c8d;
  text-align: left;
  font-size: 32px;
}

h3 {
  color: #145c8d;
  text-align: left;
  font-size: 26px;
  margin-bottom: 32px;
}

.container {
  width: 75%;
  margin: 60px auto 84px auto;
}

section {
  margin-bottom: 72px;
}

p {
  text-align: justify;
  margin: 0 auto;
  letter-spacing: 1.25px;
  line-height: 1.75;
  font-size: 18px;
}

.signup-reminder {
  color: navy;
  text-decoration: underline;
}

.lecture-intro {
  margin-bottom: 48px;
}

.speakers {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
